.card-img {
    max-width: 100px;
    float: left;
    z-index: 999;
}
.card-title {
    /*border: 1px solid red;*/
    margin: 10px 0 0 100px;
    font-size: 1.6em;
    font-family: 'Sansita Swashed', cursive;
}
.card-sub-title {
    font-size: 1.2em;
    text-align: right;
    font-family: 'Sansita Swashed', cursive;
    margin-right: 10px;
    color: #2261FF;
}
.card-text {
    /*border: 1px solid yellow;*/
    font-size: 12px;
}
.card-footer {
    position: relative;
}
.hoverTable {
    font-size: 16px;
    border: 1px;
    border-collapse: separate;
    border-spacing: 12px;
}

.user-img {
    max-height: 40px;
}

/*style="max-width: 540px; margin: auto*/