/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: darken(#4F599B,  25%);
$background-color: lighten(#99BEE2,  20%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color: lighten(grey, 20%);